{% extends "base.html.twig" %}
{% block content %}   
    <div id="wrapper">
        {% include 'commons/header.html.twig'%}
    <main ng-controller="NotificationsCtrl as noti">
        <h1>My uin - notifications</h1>
        {% include 'commons/myuin-nav.html.twig'%}        
        <div>
            <p class="link"><a href="{{link.myuin__notifications_archive.href}}">View archived notifications</a></p>
        </div>
        <div id="videos" data-ng-show="showVideosFlag">
            {% for video in data.videos %}
                <div class="video">
                    <iframe width="420" height="315" src="{{video.video}}" frameborder="0" allowfullscreen></iframe>
                    <p>{{video.title}}</p>
                </div>
            {%endfor%}
        </div>
            <table id="notifications-list">
                <tr class="item">
                    <th class="date" data-ng-click="get('n.dateCreated')">Date</th>
                    <th class="type" data-ng-click="get('n.type')">Notification type</th>
                    <th class="data" data-ng-click="get('query.id')">Query id</th>
                    <th class="whats" data-ng-click="get('n.isRead')">Read/Unread</th>
                </tr>
                <tr class="item" ng-class="{read:n.isRead,unread:!n.isRead}" ng-repeat="n in notifications">
                    <td class="date">{{'{{n.created}}'}} <p ng-show="n.isRead" ng-click="noti.archive(n.id)">archive</p></td>
                    <td class="type"><a class="nostyle" href="{{constant('LINKS_PRE')}}n/{{'{{n.type | typeToLink}}'}}/{{'{{n.idQuery.id}}'}}/{{'{{n.id}}'}}/">{{'{{n.type}}'}}</a></td>
                    <td class="data"><a class="nostyle" href="{{constant('LINKS_PRE')}}n/{{'{{n.type | typeToLink}}'}}/{{'{{n.idQuery.id}}'}}/{{'{{n.id}}'}}/">for your Query #{{'{{n.idQuery.id}}'}} &horbar;</a></td>
                    <td class="whats"><a class="nostyle" href="{{constant('LINKS_PRE')}}n/{{'{{n.type | typeToLink}}'}}/{{'{{n.idQuery.id}}'}}/{{'{{n.id}}'}}/">looking for: <span ng-repeat="tags in n.idQuery.whats[0]">{{'{{tags.tag}}'}}</span></a></td>
                    
                </tr>
            </table>
            
        <!--</div>-->
    </main>
    <div id="push-footer"></div>    
    </div>
{% endblock %}
