{% extends "base.html.twig" %}
{% block content %}   
    <div id="wrapper">
    {% include 'commons/header.html.twig'%}
        <main data-ng-controller="StoriesCtrl as blog">
            <h1>Testimonials</h1>
            <div id="items">
                <div class="item" clickable data-ng-repeat="item in items">
                    <div class="cover">
                    <img src="{{constant('LINKS_PRE')}}deployment/data/stories_covers/{{'{{item.cover}}'}}"/>
                    </div>
                    <p class="title"><a class="nostyle" href="{{link.testimonials_article.href}}{{'{{item.id}}'}}/">{{'{{item.title.substring(0, 20)}}'}}</a></p>
                </div>
                <div id="pages" data-ng-show="pages.length>0">
                    <p>Go to page:</p>
                    <div class="page" data-ng-click="switch_page(p.page)" data-ng-repeat="p in pages">
                        <p>{{'{{p.page}}'}}</p>
                    </div>
                </div>
            </div>
        </main>
        <div id="push-footer"></div>                
    </div>
    {% include 'commons/footer.html.twig'%}
{% endblock %}
