<p>Dear {{supplier}}</p>
<p>{{asker}} has confirmed to buy your service to be delivered {% if where != 'anywhere'%}in {{where}}{% endif %} at {{date1}}.</p>
<p>Please, deliver your service accordingly, or contact {{asker}} for further details you need or you'd like to provide via your <a href="{{constant("LINKS_PRE")}}{{msgsLink}}">message</a> in My uinteam.</p>
<p>Many thanks</p>
<p>uinteam</p>
