<p>Dear {{asker}},</p>
<p>{{supplier}} is ready to deliver the service you you asked for {% if where != 'anywhere'%}in {{where}}{% endif %} at {{date1}}.</p>
<p>Enjoy the service, and please contact {{supplier}} for further details you need or you'd like to provide via your <a href="{{constant("LINKS_PRE")}}{{msgsLink}}">message</a> in My uinteam.</p>
<p>Many thanks</p>
<p>uinteam</p>
