<p>Dear {{supplier}}, this is a uinteam notification to confirm that the {{what}} in {{where}} on the {{when}} for {{asker}} unfortunately has not been delivered. </p>
<p>Thus uinteam will refund {{asker}}, and you will not be required to take any action.</p>

<p>Kind Regards</p>
<p>uinteam</p>