            <footer>
                <div id="social"> 
                	<a href="{{link.fb.href}}"><img src="{{img.fb_link.src}}" alt="{{img.fb_link.src}}"/></a>  
                        <a href="{{link.twitter.href}}"><img src="{{img.twitter_link.src}}" alt="{{img.twitter_link.src}}"/></a>
                        <a href="{{link.googleplus.href}}"><img src="{{img.google_link.src}}" alt="{{img.google_link.src}}"/></a>  
                        <a href="{{link.linkedin.href}}"><img src="{{img.linkedin_link.src}}" alt="{{img.linkedIn_link.src}}"/></a>    
                        <a href="{{link.youtube.href}}"><img src="{{img.youtube_link.src}}" alt="{{img.youtube_link.src}}"/></a>   
                </div>
                <div id="email">
                    <p><a href="mailto:info@uinteam.com" class="nostyle">info@uinteam.com</a></p>
                </div>
                <ul>
                    <li><a href="{{link.privacy_policy.href}}" class="nocolor">Privacy policy</a></li>     
                    <li><a href="{{link.terms.href}}" class="nocolor">Terms &amp; Conditions</a></li>     
                    <li><a href="{{link.updates.href}}" class="nocolor">Blog</a></li>
                    <li><a href="{{link.testimonials.href}}" class="nocolor">Testimonials</a></li>
                </ul>
            </footer>